<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
<header>
    <h1>Header</h1>
</header>
<div class="container">
    <div class="list-blog">
        <p>Chất liệu mang tính đột phá – Chống Nhăn Tuyệt Đối, kết hợp với form áo nam tính mang lại một kiểu áo thời thượng phong cách cho cánh đàn ông.
            Đi chơi – Đi tiệc – Du lịch – Dạo phố đều được.
        </p>
    </div>
    <div id="app">
        <div class="cart">Giỏ hàng ({{ cartNumber }})</div>
        <div class="product">
            <div class="product-image">
                <div class="image">
                    <img :src="getProduct.imageUrl" :alt="getProduct.textColor">
                </div>
            </div>
            <div class="product-content">
                <h3 class="title">
                    <a v-bind:href="url" v-bind:target="target">
                    {{ title }}
                    </a>
                </h3>
                <p class="brand">Thương hiệu: No brand</p>
                <p class="quantity" v-if="getProduct.quantity > 0">Còn lại: {{ getProduct.quantity }} Sản phẩm</p>
                <p class="quantity" v-else>Sản phẩm đã hết hàng</p>

                <div class="wrapper-price">
                    <div class="final-price">{{ formatFinalPrice }}</div>
                    <div class="origin-price">{{ formatOriginalPrice }}</div>
                    <div class="sale-price">-{{ discountRate * 100 }}%</div>
                </div>
                <div class="wrapper-color">
                    <div class="text">Màu sắc</div>
                    <div class="list-color">
                        <p class="color-text">Red</p>
                        <ul>
                             <li v-for="(product, index) in products"
                                 :class="classActive(index)"
                                 v-on:click="onSelectProduct(index)"
                                 :key="index">
                                 <img :src="product.imageUrl" :alt="product.textColor">
                             </li>
                        </ul>
                    </div>
                </div>
                <button
                        class="add-to-cart" v-on:click="onAddToCart">Add to cart</button>
            </div>

        </div>
        <div class="description">
            <ul class="extra-info">
                <li>Thoát mồ hôi tốt</li>
                <li>Áo thun cổ tròn thể thao Hiye chuyên được may từ chất liệu nilon thoáng mát</li>
                <li>Kết hợp thêm sợi thun tạo độ co giãn giúp người tiêu dùng thoải mái khi mặc</li>
                <li>Chất liệu: polyester và thun</li>
            </ul>
            <h2>Chất liệu bền chặt&nbsp;</h2>
            <!-- v-html -->
        </div>

    </div>
</div>
<footer>
    <h1>Footer</h1>
</footer>
</body>
<script src="main.js"></script>

</html>
